@{
    ViewBag.Title = "Index";
}
<div class="hero-unit">
    <h2>Hero unit</h2>
</div>
<div class="row-fluid">
    <div class="span4">1</div>
    <div class="span4">2</div>
    <div class="span4">3</div>
</div>
