@{
    ViewBag.Title = "AuthorizationSuccess";
}
<div class="page-header">
    <h1>Success - you are a winner!!</h1>
</div>
<div class="container">
    <p class="alert alert-success">You got this code back from Podio: @ViewData["code"]</p>
    <form method="post">
        <legend>Lets try to connect using this baby</legend>
        <label>Your Authorization code</label>
        <input type="text" value="@ViewData["code"]"  name="authorization_code">
        <label>Input your Client Id</label>
        <input type="text" placeholder="Type your client_id…" name="client_id">
        <label>Input your Client Url (incl. http://)</label>
        <input type="text" placeholder="Type your client_id…" name="client_domain">
        <label>Input your Client Secret</label>
        <input type="text" placeholder="Type client_id…" name="client_secret"><br />
        <button type="submit" class="btn">Go Connect</button>
    </form>

</div>

  