@{
    ViewBag.Title = "AuthorizationSuccess";
}
<div class="page-header">
    <h1>Success - you are a winner!!</h1>
</div>
<div class="container">
    <p class="alert alert-success">Connect to Podio on behalf of you using this code: @ViewData["code"]</p>
</div>