@{
    ViewBag.Title = "You no Success";
}
<div class="page-header">
    <h1>You authorize no-no - bad human</h1>
</div>

<div class="container">
    <p class="alert alert-important">@ViewData["error"]</p>
    <a href="@Url.Action("Index")">Go try again</a>
</div>