@{
    ViewBag.Title = "Index";
}
<div class="page-header">
    <h2>Autorize this App in Podio - gogo</h2>
</div>


<div class="container">
    <form method="post">
        <legend>You must create an API key in Podio</legend>
        <label>Input your Client Id</label>
        <input type="text" placeholder="Type something…" name="client_id">
        <span class="help-block">If you are completely lost - you need to read some documentation here: https://developers.podio.com/authentication/server_side</span>
        <button type="submit" class="btn">Go Authorize</button>
    </form>
</div>
